<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Initial Attempt/Quick_Copy_Files/MasterMode.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Quick_Copy_Files.MasterMode"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Initial Attempt"/>
</launchConfiguration>
